Dictionary (
    words: {
        "Hello": "Hallo",
        "world": "Welt",
        "I": "ich",
        "love": "liebe",
        "localization": "Lokalisierung",
        "German": "Deutsch",
        "English": "Englisch",
        "Localization": "Lokalisierung",
        "Navigation": "Navigation",
        "show details": "zeige Details",
        "back": "zurück",
        "MasterDetail (resize the window)": "MasterDetail (Festergröße ändern)"
    }
)