Dictionary (
    words: {
        "Hello": "Hallo",
        "world": "Welt",
        "I": "ich",
        "love": "liebe",
        "localization": "Lokalisierung",
        "German": "Deutsch",
        "English": "Englisch"
    }
)