Dictionary (
    words: {
        // ButtonView
        "Text only": "nur Text",
        "disabled": "deaktiviert",
        // ItemsView
        "Item 1": "Eintrag 1",
        "Item 2": "Eintrag 2",
        "Item 3": "Eintrag 3",
        "Item 4": "Eintrag 4",
        "Item 5": "Eintrag 5",
        // LocalizationView
        "Hello": "Hallo",
        "world": "Welt",
        "I": "ich",
        "love": "liebe",
        "localization": "Lokalisierung",
        "German": "Deutsch",
        "English": "Englisch",
        "Localization": "Lokalisierung",
        // NavigationView
        "back": "zurück",
        "Content inside the master pane": "Inhalt im Hautpfenster",
        "Content inside the detail pane": "Inhalt im Detailfenster",
        "Detail Pane": "Detailfenster",
        "Master Pane": "Hautpfenster",
        "Page 1": "Seite 1",
        "Page 2": "Seite 2",
        "Page 3": "Seite 3",
        "Resize the window: Pane brake is set to 800 pixel": "Fenstergröße ändern: Die Splitgrenze ist bei 800 Pixel",
        "Navigation": "Navigation",
        "show detail pane": "zeige Detailfenster",
    }
)
