// Default theme of Orbtk.
Theme (
    styles: {
        // -- [START] Base --

        "base": (
            properties: {
                "font_size": "$FONT_SIZE_12",
                "font": "$MEDIUM_FONT",
                "icon_size": "$ICON_SIZE_16",
                "icon_font": "$ICON_FONT"
            },
        ),
        "window": (
             properties: {
                "background": "$BACKGROUND",
             },
        ),
        "grid": (
            base: "base",
            properties: {
                "background": "transparent",
            },
        ),
        "container": (
            base: "base",
            properties: {
                "padding": 4,
            },
        ),

        // -- [END] Base --

        // -- [START] TextBlock --

        "body": (
            properties: {
                "foreground": "$CONTENT_FOREGROUND",
                "font_size": "$FONT_SIZE_16",
                "font": "$MEDIUM_FONT",
            },
        ),
        "header": (
            base: "body",
            properties: {
                "font_size": "$FONT_SIZE_24",
            }
        ),
        "text_block_header": (
            base: "base",
            properties: {
                "font_size": "$FONT_SIZE_24",
            },
        ),
        "small_text": (
            base: "body",
             properties: {
                "font_size": "$FONT_SIZE_12",
                "foreground": "$PERIWINKLE_GRAY",
            },
        ),

        // -- [END] TextBlock --

        // -- [START] Button --

        "button": ( 
            base: "base",
            properties: {
                "height": 32,
                "foreground": "$CONTENT_FOREGROUND",
                "icon_brush": "$CONTENT_FOREGROUND",
                "background": "$BUTTON_BACKGROUND",
                "border_radius": 1,
                "font_size": "$FONT_SIZE_12",
                "icon_size": "$ICON_SIZE_16"
            }, 
            states: [
                (
                    key: "selected",
                    properties: {
                        "background": "$BUTTON_BACKGROUND_SELECTED",
                    }
                ),
                (
                    key: "hover",
                    properties: {
                        "background": "$BUTTON_BACKGROUND_HOVER",
                    }
                ),
                (
                    key: "pressed",
                    properties: {
                        "background": "$BUTTON_BACKGORUND_PRESSED",
                    }
                ),
                (
                    key: "disabled",
                    properties: {
                        "background": "$BUTTON_BACKGROUND_DISABLED",
                        "foreground": "$CONTENT_FOREGROUND_INVERTED",
                        "icon_brush": "$CONTENT_FOREGROUND_INVERTED"
                    }
                ),
            ],
        ),
        "button_single_content": (
            base: "button",
            properties: {
                "spacing": 0,
            },
        ),
        "button_primary": (
            base: "button",
            properties: {
                "background": "$ACCENT_COLOR",
                "foreground": "$CONTENT_FOREGROUND_INVERTED",
                "icon_brush": "$CONTENT_FOREGROUND_INVERTED",
            },
            states: [
                (
                    key: "hover",
                    properties: {
                         "background": "$GOLDEN_TIPS"
                    }
                ),
                  (
                    key: "pressed",
                    properties: {
                        "background": "$CONFETTI",
                    }
                ),
            ]
        ),
        "button_primary_single_content": (
            base: "button_primary",
            properties: {
                "spacing": 0
            },
        ),
        "button_icon_only": (
            base: "button",
            properties: {
                "icon_size": "$ICON_SIZE_12",
                "icon_brush": "$CONTENT_FOREGROUND",
                "background": "transparent",
                "spacing": 0,
                "min_width": 24,
                "height": 24
            },
        ),
        "button_square": ( 
            base: "button",
            properties: {
                "border_radius": 1,
            }, 
        ),
        "button_small": (
            base: "button",
            properties: {
                "border_radius": 0,
                "icon_brush": "$CONTENT_FOREGROUND",
                "font_size": "$ICON_SIZE_12",
                "background": "transparent",
                "height": 14,
                "spacing": 0,
                "padding": 0,
            },
        ),
        "check_box": (
            base: "base",
            properties: {
                "foreground": "$CONTENT_FOREGROUND",
                "icon_size": "$ICON_SIZE_18",
                "background": "transparent",
                "border_radius": 2,
                "border_width": 1,
                "border_brush": "$BOMBAY",
                "icon_brush": "transparent",
            },
            states: [
                (
                    key: "selected",
                    properties: {
                        "background": "$ACCENT_COLOR",
                        "border_brush": "$ACCENT_COLOR",
                        "icon_brush": "$CONTENT_FOREGROUND_INVERTED",
                    }
                )
            ]
        ),
        "switch": (
            properties: {
                "width": 36,
                "height": 32,
            },
        ),
        "switch_track": (
            properties: {
                "height": 14,
                "border_radius": 7,
                "background": "$SLATE_GRAY",
            }
        ),
        "switch_toggle": (
            properties: {
                "width": 20,
                "height": 20,
                "border_radius": 10,
                "background": "$WHITE",
            },
            states: [
                (
                    key: "selected",
                    properties: {
                        "background": "$ACCENT_COLOR",
                    }
                )
            ]
        ),
        
        // -- [END] Button --

        "container": (
            base: "base",
            properties: {
                "padding": 4,
            },
        ),

        // -- [START] (Numeric)TextBox --
       
        "text_box": (
            base: "base",
            properties: {
                "height": 32,
                "foreground": "$SILVER_CHALICE",
                "background": "#444e55",
                "border_brush": "#adb3b8",
                "border_width": 1,
                "border_radius": 3,
                "padding": 6,
            },
            states: [
                (
                    key: "not_empty",
                    properties: {
                        "foreground": "$PERIWINKLE_GRAY",
                    }
                ),
                (
                    key: "hover",
                    properties: {
                         "background": "$BLACK"
                    }
                ),
                (
                    key: "focused",
                    properties: {
                         "border_brush": "$ACCENT_COLOR",
                    }
                ),
                (
                    key: "not_empty_focused",
                    properties: {
                        "foreground": "$PERIWINKLE_GRAY",
                        "border_brush": "$ACCENT_COLOR",
                    }
                )
            ]
        ),
        "numeric_box": (
            base: "text_box",
            properties: {
                "foreground": "$PERIWINKLE_GRAY",
            }
        ),
        "cursor": (
            properties: {
                "background": "$ENERGY_YELLOW",
                "border_brush": "$ENERGY_YELLOW",
                "border_width": 1
            }
        ),

        // -- [END] (Numeric)TextBox --

        // -- [START] Lists --

        "items_widget": (
            properties: {
                "background": "transparent",
                "border_brush": "$LYNCH",
                "border_width": 1,
                "border_radius": 2,
                "padding": 4,
            }
        ),
         "list_view": (
            base: "base",
            properties: {
                "foreground": "$CONTENT_FOREGROUND",
                "background": "transparent",
                "border_brush": "$LYNCH",
                "border_width": 1,
                "border_radius": 3,
            },
        ),
        "list_view_item": (
            properties: {
                "font_size": "$FONT_SIZE_12",
                "foreground": "#ccdeed",
                "background": "transparent",
                "padding_left": 8,
                "padding_right": 8,
            },
            states: [
                (
                    key: "selected",
                    properties: {
                        "foreground": "$CONTENT_FOREGROUND_INVERTED",
                        "background": "$SUNFLOWER",
                    }
                ),
                (
                    key: "pressed",
                    properties: {
                        "foreground": "$CONTENT_FOREGROUND_INVERTED",
                        "background": "$SUNFLOWER",
                    }
                )
            ]
        ),
        "combo_box": (
            base: "base",
            properties: {
                "foreground": "$CONTENT_FOREGROUND",
                "icon_brush": "$CONTENT_FOREGROUND",
                "background": "$BUTTON_BACKGROUND",
                "height": 32,
                "padding": 6,
            },
            states: [
                (
                    key: "hover",
                    properties: {
                        "background": "$BUTTON_BACKGROUND_HOVER",
                    }
                ),
                (
                    key: "selected",
                    properties: {
                        "selection_indicator": "$ACCENT_COLOR",
                        "background": "$BUTTON_BACKGORUND_PRESSED",
                    }
                )
            ]
        ),
        "combo_box_item": (
            properties: {
                "font_size": "$FONT_SIZE_12",
                "foreground": "$CONTENT_FOREGROUND",
                "background": "transparent",
                "padding_left": 8,
                "padding_right": 8,
            },
            states: [
                (
                    key: "selected",
                    properties: {
                        "foreground": "$CONTENT_FOREGROUND_INVERTED",
                        "background": "$SUNFLOWER",
                    }
                ),
                (
                    key: "pressed",
                    properties: {
                        "foreground": "$CONTENT_FOREGROUND_INVERTED",
                        "background": "$SUNFLOWER",
                    }
                )
            ]
        ),

        // -- [END] Lists --

        // -- [START] TabWidget --
        
        "tab_widget": (
            properties: {
                "border_brush": "$BLUE_BAYOUX",
                "border_width": 1,
                "background": "transparent",
            },
        ),
        "tab_header": (
            base: "base",
            properties: {
                "height": 32,
                "font_sze": "$FONT_SIZE_12",
                "foreground": "$WHITE",
                "background": "$FIORD",
                "padding_left": 8,
                "padding_right": 8,
                "border_radius": 0
            },
            states: [
                (
                    key: "selected",
                    properties: {
                        "background": "$GORDUROY"
                    }
                )
            ]
        ),
        "tab_header_bar": (
             properties: {
                "background": "$GOLDEN_TIPS",
                "height": 2
            }
        ),
        "tab_icon_only": (
            properties: {
                "icon_size": "$ICON_SIZE_12",
                "icon_brush": "$CONTENT_FOREGROUND",
                "background": "transparent",
                "spacing": 0,
                "width": 16,
                "height": 16
            }
        ),

        // -- [END] TabWidget --

        // -- [START] Other widgets --

        "slider": (
            properties: {
                "height": 24,
                "border_radius": 2,
                "background": "$MINE_SHAFT",
            }
        ),
        "thumb": (
            properties: {
                "width": 24,
                "height": 24,
                "border_radius": 12,
                "background": "$LYNCH",
            },
            states: [
                (
                    key: "pressed",
                    properties: {
                         "background": "$ACCENT_COLOR",
                    }
                )
            ],
        ),
        "progress_bar": (
             properties: {
                "background": "$BLACK",
                "border_radius": 0,
                "border_width": 0,
                "height": 12,
                "padding": 0,
             },
        ),
        "progress_bar_indicator": (
            properties: {
                "background": "$ACCENT_COLOR",
                "height": 12,
                "width": 0,
            }
        ),
        "scroll_bar": (
            properties: {
                "background": "$LYNCH",
                "border_radius": 2,
            },
        ),
        "popup": ( 
            properties: {
                "background": "$POPUP_BACKGROUND",
                "border_brush": "$POPUP_BORDER",
                "border_width": 1,
            },
        ),

        // -- [END] Other widgets --
    },
)
