Theme (
    resources: {
        // common
        "BLACK": "#000000",
        "WHITE": "#ffffff",
        "ACCENT_COLOR": "#efd035",
        "ACCENT_COLOR_LIGHTER": "#f0d860",
        "ACCENT_COLOR_LIGHT": "#5B6764",
        "ACCENT_COLOR_DARK": "#ebbf13",
        "BACKGROUND": "#3b434a",
        "BACKGROUND_SECONDARY": "#475b6e",

        // content
        "CONTENT_FOREGROUND": "#dfebf5",
        "CONTENT_FOREGROUND_INVERTED": "#3b434a",
        "CONTENT_FOREGROUND_SECONDARY": "#9dafbf",

        // button
        "BUTTON_BACKGROUND": "linear-gradient(to top, #7a8fa3, #647b91)",
        "BUTTON_BACKGROUND_SELECTED": "#516475",
        "BUTTON_BACKGROUND_HOVER": "linear-gradient(to top, #647b91, #475b6e)",
        "BUTTON_BACKGORUND_PRESSED": "#516475",
        "BUTTON_BACKGROUND_DISABLED": "linear-gradient(to top, #797d80, #808488)",
        "BUTTON_BACKGROUND_PRIMARY": "linear-gradient(to top, #f7e899, #ebbf13)",
        "BUTTON_BACKGROUND_PRIMARY_SELECTED": "#ebbf13",
        "BUTTON_BACKGROUND_PRIMARY_HOVER": "linear-gradient(to top, #f0d860, #efd035)",
        "BUTTON_BACKGORUND_PRIMARY_PRESSED": "#ebbf13", 
        "BUTTON_FOREGROUND_DISABLED": "#3b434a",

        // text box
        "TEXT_BOX_FOCUSED_BORDER": "#efd035",
        "TEXT_BOX_HOVER_BACKGROUND": "#000000",

        // combobox
        "COMBO_BOX_BACKGROUND": "#647b91",
        "POPUP_BACKGROUND": "#444e55",
        "POPUP_BORDER": "#adb3b8",

        // switch
        "SWITCH_TOGGLE_BACKGROUND": "#dfebf5",
        "SWITCH_TOGGLE_BORDER": "#dfebf5",

        // slider
        "SLIDER_THUMB_BACKGROUND": "#dfebf5",
        "SLIDER_THUMB_BORDER": "#dfebf5",

        // combobox
        "COMBO_BOX_ITEM_SELECTED": "#3b434a",

        // progress bar
        "PROGRESS_BAR_BACKGROUND": "#000000",

        // containers such es lists and text box
        "CONTAINER_BACKGROUND": "#2B2D2F",
        "CONTAINER_BORDER": "#dfebf5",
    },
)