Theme (
    styles: {
        "input": (
            // based on body style the of default_theme
            base: "body",
            properties: {
                "foreground": "#9dafbf"
            }
        ),
        "result": (
            // based on body style the of default_theme
            base: "body",
            properties: {
                "font_size": "$FONT_SIZE_36",
            }
        ),
        "header_area": (
            properties: {
                "background": "#444e55"
            }
        ),
        "content_area": (
            properties: {
                "background": "#3b434a"
            }
        ),
         "button_calculator": ( 
            // based on button style the of default_theme
            base: "button",
            properties: {
                "min_width": 48,
                "height": 48,
                "border_radius": 1,
                "spacing": 0,
            },
        ),
        "button_calculator_primary": (
            // based on button_primary style the of default_theme
            base: "button_primary",
            properties: {
                "min_width": 48,
                "height": 48,
                "border_radius": 1,
                "spacing": 0,
            },
        ),
    }
)