Theme (
    resources: {
        "MEDIUM_FONT": "Roboto Medium",
        "ICON_FONT": "Material Icons",
        "FONT_SIZE_12": 12,
        "FONT_SIZE_16": 16,
        "FONT_SIZE_24": 24,
        "ICON_SIZE_16": 16,
        "ICON_SIZE_18": 18,
    },
)