Theme (
    styles: {
        "lynch": (
            properties: {
                "background": "$LYNCH",
            },
        ),
        "bluebayoux": (
            properties: {
                "background": "$BLUE_BAYOUX",
            },
        ),
        "linkwater": (
            properties: {
                "background": "$LINK_WATER",
            },
        ),
        "goldendream": (
            properties: {
                "background": "$GOLDEN_DREAM",
            },
        ),
        "light_text": (
            base: "body",
            properties: {
                "font_size": "$FONT_SIZE_24",
            },
        ),
        "dark_text": (
            base: "body",
            properties: {
                "foreground": "$BLUE_BAYOUX",
                "font_size": "$FONT_SIZE_24",
            },
        ),
    },
)