Theme (
    resources: {
        // common
        "BLACK": "#000000",
        "ACCENT_COLOR": "#efd035",
        "BACKGROUND": "#3b434a",

        // content
        "CONTENT_FOREGROUND": "#dfebf5",
        "CONTENT_FOREGROUND_INVERTED": "#3b434a",

        // button
        "BUTTON_BACKGROUND": "linear-gradient(to top, #7a8fa3, #647b91)",
        "BUTTON_BACKGROUND_SELECTED": "#516475",
        "BUTTON_BACKGROUND_HOVER": "linear-gradient(to top, #647b91, #475b6e)",
        "BUTTON_BACKGORUND_PRESSED": "#516475",
        "BUTTON_BACKGROUND_DISABLED": "linear-gradient(to top, #e5e5e5, #d2d2d2)",
        "BUTTON_BACKGROUND_PRIMARY": "linear-gradient(to top, #f7e899, #ebbf13)",
        "BUTTON_BACKGROUND_PRIMARY_SELECTED": "#ebbf13",
        "BUTTON_BACKGROUND_PRIMARY_HOVER": "linear-gradient(to top, #f0d860, #efd035)",
        "BUTTON_BACKGORUND_PRIMARY_PRESSED": "#ebbf13", 

        // old colors
       
        "WHITE": "#ffffff",
        "BRIGHT_GRAY": "#3b434a",
        "LYNCH": "#647b91",
        "PERIWINKLE_GRAY": "#ccdeed",
        "SUNFLOWER": "#e1bc21",
        "ENERGY_YELLOW": "#f8de4c",
        "LINK_WATER": "#dfebf5",
        "GOLDEN_DREAM": "#efd035",
        "GOLDEN_TIPS": "#ebbf13",
        "BLUE_BAYOUX": "#516475",
        "BOMBAY": "#afb1b8",
        "SLATE_GRAY": "#6c7a90",
        "MINE_SHAFT": "#212121",
        "SILVER_CHALICE": "#9e9e9e",
        "RIVER_BAD": "#444e55",
        "SILVER": "#bababa",
        "ALABASTER": "#fafafa",
        "ALTO": "#dadada",
        "CADET_BLUE": "#9dafbf",
        "FIORD": "#475b6e",
        "MANATEE": "#949ca5",
        "GRAY_NURSE": "#edeeed",
        "GORDUROY": "#586864",
        "ATHS_SPECIAL": "#efead5",
        "FIORD": "#475b6e",
        "GREEN_SPRING": "#b2b3b1",
        "MERCURY": "#e5e5e5",
        "CONFETTI": "#f0d860",
        "ROLLING_STONE": "#808386"
    },
)