Dictionary (
    words: {
	"Click me to show the popup": "Klicken zum Anzeigen des Popup",
	"Click me to hide the popup": "Klicken zum Verbergen des Popup",
    "Offset:": "Versatz:",
	"Placement:": "Plazierung:",
    }
)
