Theme (
    resources: {
        // common
        "BLACK": "#000000",
        "WHITE": "#ffffff",
        "ACCENT_COLOR": "#0078D7",
        "ACCENT_COLOR_LIGHTER": "#f0d860",
        "ACCENT_COLOR_LIGHT": "#589BE6",
        "ACCENT_COLOR_DARK": "#2259A1",
        "BACKGROUND": "#FFFFFF",
        "BACKGROUND_SECONDARY": "#E6E6E6",

        // box colors (TextBox, CheckBox, ComboBox, ...)
        "BOX_BACKGROUND": "tranparent",
        "BOX_BORDER": "#666666",
        "BOX_BORDER_HOVER": "#4C4C4C",
        "BOX_BACKGROUND_PRESSED": "#999999",

        // CheckBox
        "CHECKBOX_ICON_BRUSH": "#ffffff",

        // cursor
        "CURSOR_BORDER_BRUSH": "#000000",
        "CURSOR_BACKGROUND": "#0078D7",

        // content
        "CONTENT_FOREGROUND": "#242424",
        "CONTENT_FOREGROUND_INVERTED": "#3b434a",
        "CONTENT_FOREGROUND_SECONDARY": "#9dafbf",
        "CONRENT_FOREGROUND_ACCENT": "#ffffff",

        // button
        "BUTTON_BACKGROUND": "#CCCCCC",
        "BUTTON_BACKGROUND_HOVER": "#E6E6E6",
        "BUTTON_BACKGORUND_PRESSED": "#999999",
        "BUTTON_BACKGROUND_PRIMARY_SELECTED": "#ebbf13",
        "BUTTON_BACKGORUND_PRIMARY_PRESSED": "#ebbf13", 
        "BUTTON_FOREGROUND_DISABLED": "#7A7A7A",
        "BUTTON_FOREGROUND_SELECTED": "#ffffff",

        // switch toggle
        "SWITCH_TOGGLE_BACKGROUND": "#000000",
        "SWITCH_TOGGLE_BACKGROUND_SELECTED": "#ffffff",
        
        // text box
        "TEXT_BOX_FOCUSED_BORDER": "#efd035",
        "TEXT_BOX_HOVER_BACKGROUND": "#000000",

        // combobox
        "COMBO_BOX_BACKGROUND": "#647b91",
        "POPUP_BACKGROUND": "#E1E1E1",

        // slider
        "SLIDER_BACKGROUND": "#999999",
        "SLIDER_BACKGROUND_HOVER": "#666666",

        // progress bar
        "PROGRESS_BAR_BACKGROUND": "#CCCCCC",

        // containers such es lists and text box
        "CONTAINER_BACKGROUND": "#2B2D2F",
        "CONTAINER_BORDER": "#A5A5A5",

        // items (combobox item listview item)
        "ITEM_BACKGROUND_HOVER": "#DADADA",
        "ITEM_BACKGROUND_PRESSED": "#C2C2C2",

        // tab header
        "TAB_HEADER_HOVER": "#EDEDED"
    },
)