Theme (
    resources: {
        // common
        "BLACK": "#000000",
        "WHITE": "#ffffff",
        "ACCENT_COLOR": "#0078D7",
        "ACCENT_COLOR_LIGHTER": "#f0d860",
        "ACCENT_COLOR_LIGHT": "#589BE6",
        "ACCENT_COLOR_DARK": "#2259A1",
        "BACKGROUND": "#000000",
        "BACKGROUND_SECONDARY": "#475b6e",

        // box colors (TextBox, CheckBox, ComboBox, ...)
        "BOX_BACKGROUND": "tranparent",
        "BOX_BORDER": "#CBCBCB",
        "BOX_BORDER_HOVER": "#ffffff",
        "BOX_BACKGROUND_PRESSED": "#666666",

        // content
        "CONTENT_FOREGROUND": "#ffffff",
        "CONTENT_FOREGROUND_INVERTED": "#3b434a",
        "CONTENT_FOREGROUND_SECONDARY": "#9dafbf",

        // button
        "BUTTON_BACKGROUND": "#333333",
        "BUTTON_BACKGROUND_SELECTED": "#516475",
        "BUTTON_BACKGROUND_HOVER": "#191919",
        "BUTTON_BACKGORUND_PRESSED": "#666666",
        "BUTTON_BACKGROUND_PRIMARY_SELECTED": "#ebbf13",
        "BUTTON_BACKGROUND_PRIMARY_HOVER": "linear-gradient(to top, #f0d860, #efd035)",
        "BUTTON_BACKGORUND_PRIMARY_PRESSED": "#ebbf13", 
        "BUTTON_FOREGROUND_DISABLED": "#6A6A6A",

        // switch toggle
        "SWITCH_TOGGLE_BACKGROUND": "#ffffff",
        
        // text box
        "TEXT_BOX_FOCUSED_BORDER": "#efd035",
        "TEXT_BOX_HOVER_BACKGROUND": "#000000",

        // combobox
        "COMBO_BOX_BACKGROUND": "#647b91",
        "POPUP_BACKGROUND": "#444e55",
        "POPUP_BORDER": "#adb3b8",

        // slider
        "SLIDER_BACKGROUND": "#666666",
        "SLIDER_BACKGROUND_HOVER": "#999999",

        // combobox
        "COMBO_BOX_ITEM_SELECTED": "#3b434a",

        // progress bar
        "PROGRESS_BAR_BACKGROUND": "#333334",

        // containers such es lists and text box
        "CONTAINER_BACKGROUND": "#2B2D2F",
        "CONTAINER_BORDER": "#A5A5A5",
    },
)