/// MDL2 Assets Icons: definition of supported glyph constants

/*
 * CSS Definiton:
 */
// CSS-url:     https://github.com/scottdorman/mdl2-icons/tree/master/css/
// font-family: 'MDL2'
// font-weight: normal
// font-style:  normal
// font-format: ttf
// font-src:    mdl2.ttf
// cheet-sheet: https://github.com/scottdorman/mdl2-icons/icons.html

Theme(
    resources: {
        "MDL2_ACCEPT": &str = "\u{e8fb}",
        "MDL2_ACCOUNTS": &str = "\u{e910}",
        "MDL2_ADD": &str = "\u{e710}",
        "MDL2_ADDFRIEND": &str = "\u{e8fa}",
        "MDL2_ADMIN": &str = "\u{e7ef}",
        "MDL2_ALIGNCENTER": &str = "\u{e8e3}",
        "MDL2_ALIGNLEFT": &str = "\u{e8e4}",
        "MDL2_ALIGNRIGHT": &str = "\u{e8e2}",
        "MDL2_ALLAPPS": &str = "\u{e71d}",
        "MDL2_ARROWHTMLLEGACY": &str = "\u{e0d5}",
        "MDL2_ARROWHTMLMIRROREDLEGACY": &str = "\u{e0ae}",
        "MDL2_ATTACH": &str = "\u{e723}",
        "MDL2_AUDIO": &str = "\u{e8d6}",
        "MDL2_BACK": &str = "\u{e72b}",
        "MDL2_BACKBTTNARROW20LEGACY": &str = "\u{e0c4}",
        "MDL2_BACKBTTNARROW42LEGACY": &str = "\u{e0a6}",
        "MDL2_BACKBTTNMIRROREDARROW20LEGACY": &str = "\u{e0ad}",
        "MDL2_BACKBTTNMIRROREDARROW42LEGACY": &str = "\u{e0ab}",
        "MDL2_BACKTOWINDOW": &str = "\u{e73f}",
        "MDL2_BATTERY0": &str = "\u{e850}",
        "MDL2_BATTERY1": &str = "\u{e851}",
        "MDL2_BATTERY10": &str = "\u{e83f}",
        "MDL2_BATTERY2": &str = "\u{e852}",
        "MDL2_BATTERY3": &str = "\u{e853}",
        "MDL2_BATTERY4": &str = "\u{e854}",
        "MDL2_BATTERY5": &str = "\u{e855}",
        "MDL2_BATTERY6": &str = "\u{e856}",
        "MDL2_BATTERY7": &str = "\u{e857}",
        "MDL2_BATTERY8": &str = "\u{e858}",
        "MDL2_BATTERY9": &str = "\u{e859}",
        "MDL2_BATTERYCHARGING0": &str = "\u{e85a}",
        "MDL2_BATTERYCHARGING1": &str = "\u{e85b}",
        "MDL2_BATTERYCHARGING10": &str = "\u{ea93}",
        "MDL2_BATTERYCHARGING2": &str = "\u{e85c}",
        "MDL2_BATTERYCHARGING3": &str = "\u{e85d}",
        "MDL2_BATTERYCHARGING4": &str = "\u{e85e}",
        "MDL2_BATTERYCHARGING5": &str = "\u{e85f}",
        "MDL2_BATTERYCHARGING6": &str = "\u{e860}",
        "MDL2_BATTERYCHARGING7": &str = "\u{e861}",
        "MDL2_BATTERYCHARGING8": &str = "\u{e862}",
        "MDL2_BATTERYCHARGING9": &str = "\u{e83e}",
        "MDL2_BATTERYSAVER0": &str = "\u{e863}",
        "MDL2_BATTERYSAVER1": &str = "\u{e864}",
        "MDL2_BATTERYSAVER10": &str = "\u{ea95}",
        "MDL2_BATTERYSAVER2": &str = "\u{e865}",
        "MDL2_BATTERYSAVER3": &str = "\u{e866}",
        "MDL2_BATTERYSAVER4": &str = "\u{e867}",
        "MDL2_BATTERYSAVER5": &str = "\u{e868}",
        "MDL2_BATTERYSAVER6": &str = "\u{e869}",
        "MDL2_BATTERYSAVER7": &str = "\u{e86a}",
        "MDL2_BATTERYSAVER8": &str = "\u{e86b}",
        "MDL2_BATTERYSAVER9": &str = "\u{ea94}",
        "MDL2_BATTERYUNKNOWN": &str = "\u{e996}",
        "MDL2_BLOCKCONTACT": &str = "\u{e8f8}",
        "MDL2_BLOCKEDLEGACY": &str = "\u{e25b}",
        "MDL2_BOLD": &str = "\u{e8dd}",
        "MDL2_BOOKMARKS": &str = "\u{e8a4}",
        "MDL2_BROWSEPHOTOS": &str = "\u{e7c5}",
        "MDL2_BULLETEDLIST": &str = "\u{e8fd}",
        "MDL2_CALCULATOR": &str = "\u{e8ef}",
        "MDL2_CALENDAR": &str = "\u{e787}",
        "MDL2_CALENDARDAY": &str = "\u{e8bf}",
        "MDL2_CALENDARWEEK": &str = "\u{e8c0}",
        "MDL2_CAMERA": &str = "\u{e722}",
        "MDL2_CANCEL": &str = "\u{e711}",
        "MDL2_CAPTION": &str = "\u{e8ba}",
        "MDL2_CC": &str = "\u{e7f0}",
        "MDL2_CELLPHONE": &str = "\u{e8ea}",
        "MDL2_CHARACTERS": &str = "\u{e8c1}",
        "MDL2_CHECKBOX": &str = "\u{e739}",
        "MDL2_CHECKBOXCOMPOSITE": &str = "\u{e73a}",
        "MDL2_CHECKBOXCOMPOSITELEGACY": &str = "\u{e0a2}",
        "MDL2_CHECKBOXCOMPOSITEREVERSED": &str = "\u{e73d}",
        "MDL2_CHECKBOXCOMPOSITEREVERSEDLEGACY": &str = "\u{e005}",
        "MDL2_CHECKBOXFILL": &str = "\u{e73b}",
        "MDL2_CHECKBOXFILLLEGACY": &str = "\u{e002}",
        "MDL2_CHECKBOXFILLZEROWIDTHLEGACY": &str = "\u{e009}",
        "MDL2_CHECKBOXINDETERMINATE": &str = "\u{e73c}",
        "MDL2_CHECKBOXINDETERMINATELEGACY": &str = "\u{e004}",
        "MDL2_CHECKBOXLEGACY": &str = "\u{e003}",
        "MDL2_CHECKMARK": &str = "\u{e73e}",
        "MDL2_CHECKMARKLEGACY": &str = "\u{e001}",
        "MDL2_CHECKMARKZEROWIDTHLEGACY": &str = "\u{e008}",
        "MDL2_CHROMEBACK": &str = "\u{e830}",
        "MDL2_CHROMEBACKMIRRORED": &str = "\u{ea47}",
        "MDL2_CLEAR": &str = "\u{e894}",
        "MDL2_CLEARSELECTION": &str = "\u{e8e6}",
        "MDL2_CLOSEPANE": &str = "\u{e89f}",
        "MDL2_CLOUD": &str = "\u{e753}",
        "MDL2_COMMENT": &str = "\u{e90a}",
        "MDL2_COMMENTLEGACY": &str = "\u{e134}",
        "MDL2_CONTACT": &str = "\u{e77b}",
        "MDL2_CONTACT2": &str = "\u{e8d4}",
        "MDL2_CONTACTINFO": &str = "\u{e779}",
        "MDL2_CONTACTPRESENCE": &str = "\u{e8cf}",
        "MDL2_COPY": &str = "\u{e8c8}",
        "MDL2_CROP": &str = "\u{e7a8}",
        "MDL2_CUT": &str = "\u{e8c6}",
        "MDL2_DELETE": &str = "\u{e74d}",
        "MDL2_DIRECTIONS": &str = "\u{e8f0}",
        "MDL2_DISABLEUPDATES": &str = "\u{e8d8}",
        "MDL2_DISCONNECTDRIVE": &str = "\u{e8cd}",
        "MDL2_DISLIKE": &str = "\u{e8e0}",
        "MDL2_DISLIKELEGACY": &str = "\u{e19e}",
        "MDL2_DOCKBOTTOM": &str = "\u{e90e}",
        "MDL2_DOCKLEFT": &str = "\u{e90c}",
        "MDL2_DOCKRIGHT": &str = "\u{e90d}",
        "MDL2_DOCUMENT": &str = "\u{e8a5}",
        "MDL2_DOWNLOAD": &str = "\u{e896}",
        "MDL2_EDIT": &str = "\u{e70f}",
        "MDL2_EMOJI": &str = "\u{e899}",
        "MDL2_EMOJI2": &str = "\u{e76e}",
        "MDL2_FAVORITE2LEGACY": &str = "\u{e249}",
        "MDL2_FAVORITELEGACY": &str = "\u{e113}",
        "MDL2_FAVORITELIST": &str = "\u{e728}",
        "MDL2_FAVORITESTAR": &str = "\u{e734}",
        "MDL2_FAVORITESTARFILL": &str = "\u{e735}",
        "MDL2_FILTER": &str = "\u{e71c}",
        "MDL2_FINDLEGACY": &str = "\u{e11a}",
        "MDL2_FLAG": &str = "\u{e7c1}",
        "MDL2_FOLDER": &str = "\u{e8b7}",
        "MDL2_FONT": &str = "\u{e8d2}",
        "MDL2_FONTCOLOR": &str = "\u{e8d3}",
        "MDL2_FONTDECREASE": &str = "\u{e8e7}",
        "MDL2_FONTINCREASE": &str = "\u{e8e8}",
        "MDL2_FONTSIZE": &str = "\u{e8e9}",
        "MDL2_FORWARD": &str = "\u{e72a}",
        "MDL2_FOURBARS": &str = "\u{e908}",
        "MDL2_FULLSCREEN": &str = "\u{e740}",
        "MDL2_GLOBE": &str = "\u{e774}",
        "MDL2_GO": &str = "\u{e8ad}",
        "MDL2_GOTOSTART": &str = "\u{e8fc}",
        "MDL2_GOTOTODAY": &str = "\u{e8d1}",
        "MDL2_HALFSTARLEFT": &str = "\u{e7c6}",
        "MDL2_HALFSTARRIGHT": &str = "\u{e7c7}",
        "MDL2_HANGUP": &str = "\u{e778}",
        "MDL2_HEARTBROKENLEGACY": &str = "\u{e007}",
        "MDL2_HEARTBROKENZEROWIDTHLEGACY": &str = "\u{e00c}",
        "MDL2_HEARTFILLLEGACY": &str = "\u{e0a5}",
        "MDL2_HEARTFILLZEROWIDTHLEGACY": &str = "\u{e00b}",
        "MDL2_HEARTLEGACY": &str = "\u{e006}",
        "MDL2_HELP": &str = "\u{e897}",
        "MDL2_HIDEBCC": &str = "\u{e8c5}",
        "MDL2_HIGHLIGHT": &str = "\u{e7e6}",
        "MDL2_HOME": &str = "\u{e80f}",
        "MDL2_IMPORT": &str = "\u{e8b5}",
        "MDL2_IMPORTALL": &str = "\u{e8b6}",
        "MDL2_IMPORTANT": &str = "\u{e8c9}",
        "MDL2_ITALIC": &str = "\u{e8db}",
        "MDL2_KEYBOARDCLASSIC": &str = "\u{e765}",
        "MDL2_LEAVECHAT": &str = "\u{e89b}",
        "MDL2_LIBRARY": &str = "\u{e8f1}",
        "MDL2_LIKE": &str = "\u{e8e1}",
        "MDL2_LIKEDISLIKE": &str = "\u{e8df}",
        "MDL2_LIKEDISLIKELEGACY": &str = "\u{e19d}",
        "MDL2_LIKELEGACY": &str = "\u{e19f}",
        "MDL2_LINK": &str = "\u{e71b}",
        "MDL2_LIST": &str = "\u{ea37}",
        "MDL2_LOCATION": &str = "\u{e81d}",
        "MDL2_MAIL": &str = "\u{e715}",
        "MDL2_MAILFILL": &str = "\u{e8a8}",
        "MDL2_MAILFORWARD": &str = "\u{e89c}",
        "MDL2_MAILMESSAGELEGACY": &str = "\u{e20b}",
        "MDL2_MAILREPLY": &str = "\u{e8ca}",
        "MDL2_MAILREPLYALL": &str = "\u{e8c2}",
        "MDL2_MANAGE": &str = "\u{e912}",
        "MDL2_MAPDRIVE": &str = "\u{e8ce}",
        "MDL2_MAPPIN": &str = "\u{e707}",
        "MDL2_MEMO": &str = "\u{e77c}",
        "MDL2_MESSAGE": &str = "\u{e88d}",
        "MDL2_MICROPHONE": &str = "\u{e720}",
        "MDL2_MOBBATTERY0": &str = "\u{eba0}",
        "MDL2_MOBBATTERY1": &str = "\u{eba1}",
        "MDL2_MOBBATTERY10": &str = "\u{ebaa}",
        "MDL2_MOBBATTERY2": &str = "\u{eba2}",
        "MDL2_MOBBATTERY3": &str = "\u{eba3}",
        "MDL2_MOBBATTERY4": &str = "\u{eba4}",
        "MDL2_MOBBATTERY5": &str = "\u{eba5}",
        "MDL2_MOBBATTERY6": &str = "\u{eba6}",
        "MDL2_MOBBATTERY7": &str = "\u{eba7}",
        "MDL2_MOBBATTERY8": &str = "\u{eba8}",
        "MDL2_MOBBATTERY9": &str = "\u{eba9}",
        "MDL2_MOBBATTERYCHARGIN10": &str = "\u{ebb5}",
        "MDL2_MOBBATTERYCHARGING0": &str = "\u{ebab}",
        "MDL2_MOBBATTERYCHARGING1": &str = "\u{ebac}",
        "MDL2_MOBBATTERYCHARGING2": &str = "\u{ebad}",
        "MDL2_MOBBATTERYCHARGING3": &str = "\u{ebae}",
        "MDL2_MOBBATTERYCHARGING4": &str = "\u{ebaf}",
        "MDL2_MOBBATTERYCHARGING5": &str = "\u{ebb0}",
        "MDL2_MOBBATTERYCHARGING6": &str = "\u{ebb1}",
        "MDL2_MOBBATTERYCHARGING7": &str = "\u{ebb2}",
        "MDL2_MOBBATTERYCHARGING8": &str = "\u{ebb3}",
        "MDL2_MOBBATTERYCHARGING9": &str = "\u{ebb4}",
        "MDL2_MOBBATTERYSAVER0": &str = "\u{ebb6}",
        "MDL2_MOBBATTERYSAVER1": &str = "\u{ebb7}",
        "MDL2_MOBBATTERYSAVER10": &str = "\u{ebc0}",
        "MDL2_MOBBATTERYSAVER2": &str = "\u{ebb8}",
        "MDL2_MOBBATTERYSAVER3": &str = "\u{ebb9}",
        "MDL2_MOBBATTERYSAVER4": &str = "\u{ebba}",
        "MDL2_MOBBATTERYSAVER5": &str = "\u{ebbb}",
        "MDL2_MOBBATTERYSAVER6": &str = "\u{ebbc}",
        "MDL2_MOBBATTERYSAVER7": &str = "\u{ebbd}",
        "MDL2_MOBBATTERYSAVER8": &str = "\u{ebbe}",
        "MDL2_MOBBATTERYSAVER9": &str = "\u{ebbf}",
        "MDL2_MOBBATTERYUNKNOWN": &str = "\u{ec02}",
        "MDL2_MOBILECONTACTLEGACY": &str = "\u{e25a}",
        "MDL2_MORE": &str = "\u{e712}",
        "MDL2_MOVETOFOLDER": &str = "\u{e8de}",
        "MDL2_MUSICINFO": &str = "\u{e90b}",
        "MDL2_MUTE": &str = "\u{e74f}",
        "MDL2_NEWFOLDER": &str = "\u{e8f4}",
        "MDL2_NEWWINDOW": &str = "\u{e78b}",
        "MDL2_NEXT": &str = "\u{e893}",
        "MDL2_ONEBAR": &str = "\u{e905}",
        "MDL2_OPENFILE": &str = "\u{e8e5}",
        "MDL2_OPENLOCAL": &str = "\u{e8da}",
        "MDL2_OPENPANE": &str = "\u{e8a0}",
        "MDL2_OPENWITH": &str = "\u{e7ac}",
        "MDL2_ORIENTATION": &str = "\u{e8b4}",
        "MDL2_OTHERUSER": &str = "\u{e7ee}",
        "MDL2_OUTLINESTARLEGACY": &str = "\u{e1ce}",
        "MDL2_PAGE": &str = "\u{e7c3}",
        "MDL2_PASTE": &str = "\u{e77f}",
        "MDL2_PAUSE": &str = "\u{e769}",
        "MDL2_PEOPLE": &str = "\u{e716}",
        "MDL2_PERMISSIONS": &str = "\u{e8d7}",
        "MDL2_PHONE": &str = "\u{e717}",
        "MDL2_PHONEBOOK": &str = "\u{e780}",
        "MDL2_PIN": &str = "\u{e718}",
        "MDL2_PLAY": &str = "\u{e768}",
        "MDL2_POSTUPDATE": &str = "\u{e8f3}",
        "MDL2_PRESENCECHICKLETLEGACY": &str = "\u{e25e}",
        "MDL2_PRESENCECHICKLETVIDEOLEGACY": &str = "\u{e25d}",
        "MDL2_PREVIEW": &str = "\u{e8ff}",
        "MDL2_PREVIEWLINK": &str = "\u{e8a1}",
        "MDL2_PREVIOUS": &str = "\u{e892}",
        "MDL2_PRIORITY": &str = "\u{e8d0}",
        "MDL2_PROTECTEDDOCUMENT": &str = "\u{e8a6}",
        "MDL2_RATINGSTARFILLLEGACY": &str = "\u{e0b4}",
        "MDL2_RATINGSTARFILLREDUCEDPADDINGHTMLLEGACY": &str = "\u{e082}",
        "MDL2_RATINGSTARFILLSMALLLEGACY": &str = "\u{e0b5}",
        "MDL2_RATINGSTARFILLZEROWIDTHLEGACY": &str = "\u{e00a}",
        "MDL2_RATINGSTARLEGACY": &str = "\u{e224}",
        "MDL2_READ": &str = "\u{e8c3}",
        "MDL2_REDO": &str = "\u{e7a6}",
        "MDL2_REFRESH": &str = "\u{e72c}",
        "MDL2_REMOTE": &str = "\u{e8af}",
        "MDL2_REMOVE": &str = "\u{e738}",
        "MDL2_RENAME": &str = "\u{e8ac}",
        "MDL2_REPAIR": &str = "\u{e90f}",
        "MDL2_REPAIR": &str = "\u{e90f}",
        "MDL2_REPEATALL": &str = "\u{e8ee}",
        "MDL2_REPEATONE": &str = "\u{e8ed}",
        "MDL2_REPLYLEGACY": &str = "\u{e248}",
        "MDL2_REPORTHACKED": &str = "\u{e730}",
        "MDL2_RESHARE": &str = "\u{e8eb}",
        "MDL2_ROTATE": &str = "\u{e7ad}",
        "MDL2_ROTATECAMERA": &str = "\u{e89e}",
        "MDL2_SAVE": &str = "\u{e74e}",
        "MDL2_SAVELOCAL": &str = "\u{e78c}",
        "MDL2_SCAN": &str = "\u{e8fe}",
        "MDL2_SCROLLCHEVRONDOWNBOLDLEGACY": &str = "\u{e019}",
        "MDL2_SCROLLCHEVRONDOWNLEGACY": &str = "\u{e011}",
        "MDL2_SCROLLCHEVRONLEFTBOLDLEGACY": &str = "\u{e016}",
        "MDL2_SCROLLCHEVRONLEFTLEGACY": &str = "\u{e00e}",
        "MDL2_SCROLLCHEVRONRIGHTBOLDLEGACY": &str = "\u{e017}",
        "MDL2_SCROLLCHEVRONRIGHTLEGACY": &str = "\u{e00f}",
        "MDL2_SCROLLCHEVRONUPBOLDLEGACY": &str = "\u{e018}",
        "MDL2_SCROLLCHEVRONUPLEGACY": &str = "\u{e010}",
        "MDL2_SELECTALL": &str = "\u{e8b3}",
        "MDL2_SEND": &str = "\u{e724}",
        "MDL2_SETLOCKSCREEN": &str = "\u{e7b5}",
        "MDL2_SETTILE": &str = "\u{e97b}",
        "MDL2_SETTINGS": &str = "\u{e713}",
        "MDL2_SHARE": &str = "\u{e72d}",
        "MDL2_SHOP": &str = "\u{e719}",
        "MDL2_SHOWBCC": &str = "\u{e8c4}",
        "MDL2_SHOWRESULTS": &str = "\u{e8bc}",
        "MDL2_SHUFFLE": &str = "\u{e8b1}",
        "MDL2_SLIDESHOW": &str = "\u{e786}",
        "MDL2_SOLIDSTARLEGACY": &str = "\u{e1cf}",
        "MDL2_SORT": &str = "\u{e8cb}",
        "MDL2_STOP": &str = "\u{e71a}",
        "MDL2_STREET": &str = "\u{e913}",
        "MDL2_SWITCH": &str = "\u{e8ab}",
        "MDL2_SWITCHAPPS": &str = "\u{e8f9}",
        "MDL2_SYNC": &str = "\u{e895}",
        "MDL2_SYNCFOLDER": &str = "\u{e8f7}",
        "MDL2_TAG": &str = "\u{e8ec}",
        "MDL2_THREEBARS": &str = "\u{e907}",
        "MDL2_TOUCHPOINTER": &str = "\u{e7c9}",
        "MDL2_TRIM": &str = "\u{e78a}",
        "MDL2_TWOBARS": &str = "\u{e906}",
        "MDL2_TWOPAGE": &str = "\u{e89a}",
        "MDL2_TYPINGINDICATORLEGACY": &str = "\u{e25c}",
        "MDL2_UNDERLINE": &str = "\u{e8dc}",
        "MDL2_UNDO": &str = "\u{e7a7}",
        "MDL2_UNFAVORITE": &str = "\u{e8d9}",
        "MDL2_UNFAVORITE2LEGACY": &str = "\u{e24e}",
        "MDL2_UNFAVORITELEGACY": &str = "\u{e195}",
        "MDL2_UNPIN": &str = "\u{e77a}",
        "MDL2_UNSYNCFOLDER": &str = "\u{e8f6}",
        "MDL2_UP": &str = "\u{e74a}",
        "MDL2_UPLOAD": &str = "\u{e898}",
        "MDL2_VIDEO": &str = "\u{e714}",
        "MDL2_VIDEOCHAT": &str = "\u{e8aa}",
        "MDL2_VIDEOLEGACY": &str = "\u{e116}",
        "MDL2_VIEW": &str = "\u{e890}",
        "MDL2_VIEWALL": &str = "\u{e8a9}",
        "MDL2_VOLUME": &str = "\u{e767}",
        "MDL2_WEBCAM": &str = "\u{e8b8}",
        "MDL2_WORLD": &str = "\u{e909}",
        "MDL2_ZEROBARS": &str = "\u{e904}",
        "MDL2_ZOOM": &str = "\u{e71e}",
        "MDL2_ZOOMIN": &str = "\u{e8a3}",
        "MDL2_ZOOMOUT": &str = "\u{e71f}",
    }
)
