/// MDL2 Assets Icons: definition of supported glyph constants

/*
 * CSS Definiton:
 */
// CSS-url:     https://github.com/scottdorman/mdl2-icons/tree/master/css/
// font-family: 'MDL2'
// font-weight: normal
// font-style:  normal
// font-format: ttf
// font-src:    mdl2.ttf
// cheet-sheet: https://github.com/scottdorman/mdl2-icons/icons.html

Theme(
    resources: {
        "MDL2_ACCEPT": "\u{e8fb}",
        "MDL2_ACCOUNTS": "\u{e910}",
        "MDL2_ADD": "\u{e710}",
        "MDL2_ADDFRIEND": "\u{e8fa}",
        "MDL2_ADMIN": "\u{e7ef}",
        "MDL2_ALIGNCENTER": "\u{e8e3}",
        "MDL2_ALIGNLEFT": "\u{e8e4}",
        "MDL2_ALIGNRIGHT": "\u{e8e2}",
        "MDL2_ALLAPPS": "\u{e71d}",
        "MDL2_ARROWHTMLLEGACY": "\u{e0d5}",
        "MDL2_ARROWHTMLMIRROREDLEGACY": "\u{e0ae}",
        "MDL2_ATTACH": "\u{e723}",
        "MDL2_AUDIO": "\u{e8d6}",
        "MDL2_BACK": "\u{e72b}",
        "MDL2_BACKBTTNARROW20LEGACY": "\u{e0c4}",
        "MDL2_BACKBTTNARROW42LEGACY": "\u{e0a6}",
        "MDL2_BACKBTTNMIRROREDARROW20LEGACY": "\u{e0ad}",
        "MDL2_BACKBTTNMIRROREDARROW42LEGACY": "\u{e0ab}",
        "MDL2_BACKTOWINDOW": "\u{e73f}",
        "MDL2_BATTERY0": "\u{e850}",
        "MDL2_BATTERY1": "\u{e851}",
        "MDL2_BATTERY10": "\u{e83f}",
        "MDL2_BATTERY2": "\u{e852}",
        "MDL2_BATTERY3": "\u{e853}",
        "MDL2_BATTERY4": "\u{e854}",
        "MDL2_BATTERY5": "\u{e855}",
        "MDL2_BATTERY6": "\u{e856}",
        "MDL2_BATTERY7": "\u{e857}",
        "MDL2_BATTERY8": "\u{e858}",
        "MDL2_BATTERY9": "\u{e859}",
        "MDL2_BATTERYCHARGING0": "\u{e85a}",
        "MDL2_BATTERYCHARGING1": "\u{e85b}",
        "MDL2_BATTERYCHARGING10": "\u{ea93}",
        "MDL2_BATTERYCHARGING2": "\u{e85c}",
        "MDL2_BATTERYCHARGING3": "\u{e85d}",
        "MDL2_BATTERYCHARGING4": "\u{e85e}",
        "MDL2_BATTERYCHARGING5": "\u{e85f}",
        "MDL2_BATTERYCHARGING6": "\u{e860}",
        "MDL2_BATTERYCHARGING7": "\u{e861}",
        "MDL2_BATTERYCHARGING8": "\u{e862}",
        "MDL2_BATTERYCHARGING9": "\u{e83e}",
        "MDL2_BATTERYSAVER0": "\u{e863}",
        "MDL2_BATTERYSAVER1": "\u{e864}",
        "MDL2_BATTERYSAVER10": "\u{ea95}",
        "MDL2_BATTERYSAVER2": "\u{e865}",
        "MDL2_BATTERYSAVER3": "\u{e866}",
        "MDL2_BATTERYSAVER4": "\u{e867}",
        "MDL2_BATTERYSAVER5": "\u{e868}",
        "MDL2_BATTERYSAVER6": "\u{e869}",
        "MDL2_BATTERYSAVER7": "\u{e86a}",
        "MDL2_BATTERYSAVER8": "\u{e86b}",
        "MDL2_BATTERYSAVER9": "\u{ea94}",
        "MDL2_BATTERYUNKNOWN": "\u{e996}",
        "MDL2_BLOCKCONTACT": "\u{e8f8}",
        "MDL2_BLOCKEDLEGACY": "\u{e25b}",
        "MDL2_BOLD": "\u{e8dd}",
        "MDL2_BOOKMARKS": "\u{e8a4}",
        "MDL2_BROWSEPHOTOS": "\u{e7c5}",
        "MDL2_BULLETEDLIST": "\u{e8fd}",
        "MDL2_CALCULATOR": "\u{e8ef}",
        "MDL2_CALENDAR": "\u{e787}",
        "MDL2_CALENDARDAY": "\u{e8bf}",
        "MDL2_CALENDARWEEK": "\u{e8c0}",
        "MDL2_CAMERA": "\u{e722}",
        "MDL2_CANCEL": "\u{e711}",
        "MDL2_CAPTION": "\u{e8ba}",
        "MDL2_CC": "\u{e7f0}",
        "MDL2_CELLPHONE": "\u{e8ea}",
        "MDL2_CHARACTERS": "\u{e8c1}",
        "MDL2_CHECKBOX": "\u{e739}",
        "MDL2_CHECKBOXCOMPOSITE": "\u{e73a}",
        "MDL2_CHECKBOXCOMPOSITELEGACY": "\u{e0a2}",
        "MDL2_CHECKBOXCOMPOSITEREVERSED": "\u{e73d}",
        "MDL2_CHECKBOXCOMPOSITEREVERSEDLEGACY": "\u{e005}",
        "MDL2_CHECKBOXFILL": "\u{e73b}",
        "MDL2_CHECKBOXFILLLEGACY": "\u{e002}",
        "MDL2_CHECKBOXFILLZEROWIDTHLEGACY": "\u{e009}",
        "MDL2_CHECKBOXINDETERMINATE": "\u{e73c}",
        "MDL2_CHECKBOXINDETERMINATELEGACY": "\u{e004}",
        "MDL2_CHECKBOXLEGACY": "\u{e003}",
        "MDL2_CHECKMARK": "\u{e73e}",
        "MDL2_CHECKMARKLEGACY": "\u{e001}",
        "MDL2_CHECKMARKZEROWIDTHLEGACY": "\u{e008}",
        "MDL2_CHROMEBACK": "\u{e830}",
        "MDL2_CHROMEBACKMIRRORED": "\u{ea47}",
        "MDL2_CLEAR": "\u{e894}",
        "MDL2_CLEARSELECTION": "\u{e8e6}",
        "MDL2_CLOSEPANE": "\u{e89f}",
        "MDL2_CLOUD": "\u{e753}",
        "MDL2_COMMENT": "\u{e90a}",
        "MDL2_COMMENTLEGACY": "\u{e134}",
        "MDL2_CONTACT": "\u{e77b}",
        "MDL2_CONTACT2": "\u{e8d4}",
        "MDL2_CONTACTINFO": "\u{e779}",
        "MDL2_CONTACTPRESENCE": "\u{e8cf}",
        "MDL2_COPY": "\u{e8c8}",
        "MDL2_CROP": "\u{e7a8}",
        "MDL2_CUT": "\u{e8c6}",
        "MDL2_DELETE": "\u{e74d}",
        "MDL2_DIRECTIONS": "\u{e8f0}",
        "MDL2_DISABLEUPDATES": "\u{e8d8}",
        "MDL2_DISCONNECTDRIVE": "\u{e8cd}",
        "MDL2_DISLIKE": "\u{e8e0}",
        "MDL2_DISLIKELEGACY": "\u{e19e}",
        "MDL2_DOCKBOTTOM": "\u{e90e}",
        "MDL2_DOCKLEFT": "\u{e90c}",
        "MDL2_DOCKRIGHT": "\u{e90d}",
        "MDL2_DOCUMENT": "\u{e8a5}",
        "MDL2_DOWNLOAD": "\u{e896}",
        "MDL2_EDIT": "\u{e70f}",
        "MDL2_EMOJI": "\u{e899}",
        "MDL2_EMOJI2": "\u{e76e}",
        "MDL2_FAVORITE2LEGACY": "\u{e249}",
        "MDL2_FAVORITELEGACY": "\u{e113}",
        "MDL2_FAVORITELIST": "\u{e728}",
        "MDL2_FAVORITESTAR": "\u{e734}",
        "MDL2_FAVORITESTARFILL": "\u{e735}",
        "MDL2_FILTER": "\u{e71c}",
        "MDL2_FINDLEGACY": "\u{e11a}",
        "MDL2_FLAG": "\u{e7c1}",
        "MDL2_FOLDER": "\u{e8b7}",
        "MDL2_FONT": "\u{e8d2}",
        "MDL2_FONTCOLOR": "\u{e8d3}",
        "MDL2_FONTDECREASE": "\u{e8e7}",
        "MDL2_FONTINCREASE": "\u{e8e8}",
        "MDL2_FONTSIZE": "\u{e8e9}",
        "MDL2_FORWARD": "\u{e72a}",
        "MDL2_FOURBARS": "\u{e908}",
        "MDL2_FULLSCREEN": "\u{e740}",
        "MDL2_GLOBE": "\u{e774}",
        "MDL2_GO": "\u{e8ad}",
        "MDL2_GOTOSTART": "\u{e8fc}",
        "MDL2_GOTOTODAY": "\u{e8d1}",
        "MDL2_HALFSTARLEFT": "\u{e7c6}",
        "MDL2_HALFSTARRIGHT": "\u{e7c7}",
        "MDL2_HANGUP": "\u{e778}",
        "MDL2_HEARTBROKENLEGACY": "\u{e007}",
        "MDL2_HEARTBROKENZEROWIDTHLEGACY": "\u{e00c}",
        "MDL2_HEARTFILLLEGACY": "\u{e0a5}",
        "MDL2_HEARTFILLZEROWIDTHLEGACY": "\u{e00b}",
        "MDL2_HEARTLEGACY": "\u{e006}",
        "MDL2_HELP": "\u{e897}",
        "MDL2_HIDEBCC": "\u{e8c5}",
        "MDL2_HIGHLIGHT": "\u{e7e6}",
        "MDL2_HOME": "\u{e80f}",
        "MDL2_IMPORT": "\u{e8b5}",
        "MDL2_IMPORTALL": "\u{e8b6}",
        "MDL2_IMPORTANT": "\u{e8c9}",
        "MDL2_ITALIC": "\u{e8db}",
        "MDL2_KEYBOARDCLASSIC": "\u{e765}",
        "MDL2_LEAVECHAT": "\u{e89b}",
        "MDL2_LIBRARY": "\u{e8f1}",
        "MDL2_LIKE": "\u{e8e1}",
        "MDL2_LIKEDISLIKE": "\u{e8df}",
        "MDL2_LIKEDISLIKELEGACY": "\u{e19d}",
        "MDL2_LIKELEGACY": "\u{e19f}",
        "MDL2_LINK": "\u{e71b}",
        "MDL2_LIST": "\u{ea37}",
        "MDL2_LOCATION": "\u{e81d}",
        "MDL2_MAIL": "\u{e715}",
        "MDL2_MAILFILL": "\u{e8a8}",
        "MDL2_MAILFORWARD": "\u{e89c}",
        "MDL2_MAILMESSAGELEGACY": "\u{e20b}",
        "MDL2_MAILREPLY": "\u{e8ca}",
        "MDL2_MAILREPLYALL": "\u{e8c2}",
        "MDL2_MANAGE": "\u{e912}",
        "MDL2_MAPDRIVE": "\u{e8ce}",
        "MDL2_MAPPIN": "\u{e707}",
        "MDL2_MEMO": "\u{e77c}",
        "MDL2_MESSAGE": "\u{e88d}",
        "MDL2_MICROPHONE": "\u{e720}",
        "MDL2_MOBBATTERY0": "\u{eba0}",
        "MDL2_MOBBATTERY1": "\u{eba1}",
        "MDL2_MOBBATTERY10": "\u{ebaa}",
        "MDL2_MOBBATTERY2": "\u{eba2}",
        "MDL2_MOBBATTERY3": "\u{eba3}",
        "MDL2_MOBBATTERY4": "\u{eba4}",
        "MDL2_MOBBATTERY5": "\u{eba5}",
        "MDL2_MOBBATTERY6": "\u{eba6}",
        "MDL2_MOBBATTERY7": "\u{eba7}",
        "MDL2_MOBBATTERY8": "\u{eba8}",
        "MDL2_MOBBATTERY9": "\u{eba9}",
        "MDL2_MOBBATTERYCHARGIN10": "\u{ebb5}",
        "MDL2_MOBBATTERYCHARGING0": "\u{ebab}",
        "MDL2_MOBBATTERYCHARGING1": "\u{ebac}",
        "MDL2_MOBBATTERYCHARGING2": "\u{ebad}",
        "MDL2_MOBBATTERYCHARGING3": "\u{ebae}",
        "MDL2_MOBBATTERYCHARGING4": "\u{ebaf}",
        "MDL2_MOBBATTERYCHARGING5": "\u{ebb0}",
        "MDL2_MOBBATTERYCHARGING6": "\u{ebb1}",
        "MDL2_MOBBATTERYCHARGING7": "\u{ebb2}",
        "MDL2_MOBBATTERYCHARGING8": "\u{ebb3}",
        "MDL2_MOBBATTERYCHARGING9": "\u{ebb4}",
        "MDL2_MOBBATTERYSAVER0": "\u{ebb6}",
        "MDL2_MOBBATTERYSAVER1": "\u{ebb7}",
        "MDL2_MOBBATTERYSAVER10": "\u{ebc0}",
        "MDL2_MOBBATTERYSAVER2": "\u{ebb8}",
        "MDL2_MOBBATTERYSAVER3": "\u{ebb9}",
        "MDL2_MOBBATTERYSAVER4": "\u{ebba}",
        "MDL2_MOBBATTERYSAVER5": "\u{ebbb}",
        "MDL2_MOBBATTERYSAVER6": "\u{ebbc}",
        "MDL2_MOBBATTERYSAVER7": "\u{ebbd}",
        "MDL2_MOBBATTERYSAVER8": "\u{ebbe}",
        "MDL2_MOBBATTERYSAVER9": "\u{ebbf}",
        "MDL2_MOBBATTERYUNKNOWN": "\u{ec02}",
        "MDL2_MOBILECONTACTLEGACY": "\u{e25a}",
        "MDL2_MORE": "\u{e712}",
        "MDL2_MOVETOFOLDER": "\u{e8de}",
        "MDL2_MUSICINFO": "\u{e90b}",
        "MDL2_MUTE": "\u{e74f}",
        "MDL2_NEWFOLDER": "\u{e8f4}",
        "MDL2_NEWWINDOW": "\u{e78b}",
        "MDL2_NEXT": "\u{e893}",
        "MDL2_ONEBAR": "\u{e905}",
        "MDL2_OPENFILE": "\u{e8e5}",
        "MDL2_OPENLOCAL": "\u{e8da}",
        "MDL2_OPENPANE": "\u{e8a0}",
        "MDL2_OPENWITH": "\u{e7ac}",
        "MDL2_ORIENTATION": "\u{e8b4}",
        "MDL2_OTHERUSER": "\u{e7ee}",
        "MDL2_OUTLINESTARLEGACY": "\u{e1ce}",
        "MDL2_PAGE": "\u{e7c3}",
        "MDL2_PASTE": "\u{e77f}",
        "MDL2_PAUSE": "\u{e769}",
        "MDL2_PEOPLE": "\u{e716}",
        "MDL2_PERMISSIONS": "\u{e8d7}",
        "MDL2_PHONE": "\u{e717}",
        "MDL2_PHONEBOOK": "\u{e780}",
        "MDL2_PIN": "\u{e718}",
        "MDL2_PLAY": "\u{e768}",
        "MDL2_POSTUPDATE": "\u{e8f3}",
        "MDL2_PRESENCECHICKLETLEGACY": "\u{e25e}",
        "MDL2_PRESENCECHICKLETVIDEOLEGACY": "\u{e25d}",
        "MDL2_PREVIEW": "\u{e8ff}",
        "MDL2_PREVIEWLINK": "\u{e8a1}",
        "MDL2_PREVIOUS": "\u{e892}",
        "MDL2_PRIORITY": "\u{e8d0}",
        "MDL2_PROTECTEDDOCUMENT": "\u{e8a6}",
        "MDL2_RATINGSTARFILLLEGACY": "\u{e0b4}",
        "MDL2_RATINGSTARFILLREDUCEDPADDINGHTMLLEGACY": "\u{e082}",
        "MDL2_RATINGSTARFILLSMALLLEGACY": "\u{e0b5}",
        "MDL2_RATINGSTARFILLZEROWIDTHLEGACY": "\u{e00a}",
        "MDL2_RATINGSTARLEGACY": "\u{e224}",
        "MDL2_READ": "\u{e8c3}",
        "MDL2_REDO": "\u{e7a6}",
        "MDL2_REFRESH": "\u{e72c}",
        "MDL2_REMOTE": "\u{e8af}",
        "MDL2_REMOVE": "\u{e738}",
        "MDL2_RENAME": "\u{e8ac}",
        "MDL2_REPAIR": "\u{e90f}",
        "MDL2_REPAIR": "\u{e90f}",
        "MDL2_REPEATALL": "\u{e8ee}",
        "MDL2_REPEATONE": "\u{e8ed}",
        "MDL2_REPLYLEGACY": "\u{e248}",
        "MDL2_REPORTHACKED": "\u{e730}",
        "MDL2_RESHARE": "\u{e8eb}",
        "MDL2_ROTATE": "\u{e7ad}",
        "MDL2_ROTATECAMERA": "\u{e89e}",
        "MDL2_SAVE": "\u{e74e}",
        "MDL2_SAVELOCAL": "\u{e78c}",
        "MDL2_SCAN": "\u{e8fe}",
        "MDL2_SCROLLCHEVRONDOWNBOLDLEGACY": "\u{e019}",
        "MDL2_SCROLLCHEVRONDOWNLEGACY": "\u{e011}",
        "MDL2_SCROLLCHEVRONLEFTBOLDLEGACY": "\u{e016}",
        "MDL2_SCROLLCHEVRONLEFTLEGACY": "\u{e00e}",
        "MDL2_SCROLLCHEVRONRIGHTBOLDLEGACY": "\u{e017}",
        "MDL2_SCROLLCHEVRONRIGHTLEGACY": "\u{e00f}",
        "MDL2_SCROLLCHEVRONUPBOLDLEGACY": "\u{e018}",
        "MDL2_SCROLLCHEVRONUPLEGACY": "\u{e010}",
        "MDL2_SELECTALL": "\u{e8b3}",
        "MDL2_SEND": "\u{e724}",
        "MDL2_SETLOCKSCREEN": "\u{e7b5}",
        "MDL2_SETTILE": "\u{e97b}",
        "MDL2_SETTINGS": "\u{e713}",
        "MDL2_SHARE": "\u{e72d}",
        "MDL2_SHOP": "\u{e719}",
        "MDL2_SHOWBCC": "\u{e8c4}",
        "MDL2_SHOWRESULTS": "\u{e8bc}",
        "MDL2_SHUFFLE": "\u{e8b1}",
        "MDL2_SLIDESHOW": "\u{e786}",
        "MDL2_SOLIDSTARLEGACY": "\u{e1cf}",
        "MDL2_SORT": "\u{e8cb}",
        "MDL2_STOP": "\u{e71a}",
        "MDL2_STREET": "\u{e913}",
        "MDL2_SWITCH": "\u{e8ab}",
        "MDL2_SWITCHAPPS": "\u{e8f9}",
        "MDL2_SYNC": "\u{e895}",
        "MDL2_SYNCFOLDER": "\u{e8f7}",
        "MDL2_TAG": "\u{e8ec}",
        "MDL2_THREEBARS": "\u{e907}",
        "MDL2_TOUCHPOINTER": "\u{e7c9}",
        "MDL2_TRIM": "\u{e78a}",
        "MDL2_TWOBARS": "\u{e906}",
        "MDL2_TWOPAGE": "\u{e89a}",
        "MDL2_TYPINGINDICATORLEGACY": "\u{e25c}",
        "MDL2_UNDERLINE": "\u{e8dc}",
        "MDL2_UNDO": "\u{e7a7}",
        "MDL2_UNFAVORITE": "\u{e8d9}",
        "MDL2_UNFAVORITE2LEGACY": "\u{e24e}",
        "MDL2_UNFAVORITELEGACY": "\u{e195}",
        "MDL2_UNPIN": "\u{e77a}",
        "MDL2_UNSYNCFOLDER": "\u{e8f6}",
        "MDL2_UP": "\u{e74a}",
        "MDL2_UPLOAD": "\u{e898}",
        "MDL2_VIDEO": "\u{e714}",
        "MDL2_VIDEOCHAT": "\u{e8aa}",
        "MDL2_VIDEOLEGACY": "\u{e116}",
        "MDL2_VIEW": "\u{e890}",
        "MDL2_VIEWALL": "\u{e8a9}",
        "MDL2_VOLUME": "\u{e767}",
        "MDL2_WEBCAM": "\u{e8b8}",
        "MDL2_WORLD": "\u{e909}",
        "MDL2_ZEROBARS": "\u{e904}",
        "MDL2_ZOOM": "\u{e71e}",
        "MDL2_ZOOMIN": "\u{e8a3}",
        "MDL2_ZOOMOUT": "\u{e71f}",
    }
)
