* {
    font-size: 24;
}

lynch {
    background: #647b91;
}

bluebayoux {
    background: #516475;
}

linkwater {
    background: #dfebf5;
    color: #3b434a;
}

white {
    color: #dfebf5;
}

goldendream {
    background: #efd035;
    color: #3b434a;
}