green {
    background: green;
}

blue {
    background: blue;
    margin-left: 10;
    margin-bottom: 4;
}

yellow {
    background: yellow;
    width: 150;
    margin: 10;
}

red {
    background: red;
}