/* Every element */
* {
    /* background: #F5F6F7; */
    background: #475b6e;
    color: white;
    font-size: 16;
    font-family: "Roboto Regular";
    icon-size: 16;
    icon-color: white;
    icon-margin: 2;
    icon-font-family: "Material Icons Regular";
}

.space {
    width: 100;
}

spacer {
    width: 4;
}

checkbox {
    height: 24;
    padding-left: 3;
    padding-top: 4;
    padding-right: 3;
    padding-bottom: 4;
    background: transparent;
    border-radius: 2;
    icon-margin: 0;
    border-width: 1;
    border-color: #adb3b8;
    icon-color: transparent;
}

checkbox:selected {   
    background: #6C7A90;
    border-color: #adb3b8;
    icon-color: white;
}

button, togglebutton {
    min-width: 80;
    height: 32;
    background: #6C7A90;
    border-radius: 2;
    padding: 6;
}

button:active, togglebutton:active, togglebutton:selected {
    color: #637F92;
    icon-color:  #637F92;
    background: #F8DE4C;
}

button:disabled, togglebutton:disabled {
    background: #36516b;
}

button.square {
    background: #6C7A90;
    border-radius: 2;
    min-width: 0;
    width: 40;
    height: 40;
}

button.square:active {
    color: #637F92;
    background: #f8de4c;
}

container {
    background: transparent;
    padding: 8;
}

textblock.h1 {
    font-size: 24;
}

textbox {
    width: 100;
    height: 32;
    background: #3b434a;
    border-color: #647b91;
    border-width: 1;
    border-radius: 2;
    padding: 6;
}

textblock.fheight {
    height: 32;
}

textbox:watermark {
    color: #9E9E9E
}

textbox:focus {
    border-color: #f8de4c;
}

cursor {
    background: transparent;
    width: 1;
}

cursor:focus {
    background: #f8de4c;
}

cursor.selected {
    opacity: 0.3;
}

debugborder {
    border-width: 1;
    border-radius: 2;
    border-color: blue;
    background: transparent;
}