/* Every element */
* {
    /* background: #F5F6F7; */
    background: #fafafa;
    color: black;
    icon-color: black;
}

button, togglebutton {
    /* min-width: 60; */
    /* height: 40; */
    background: #e5e5e5;
}

button:active, togglebutton:active, togglebutton:selected {
    background: #d6d6d6;
}

checkbox {
    border-color: #4d4c4c;
}

checkbox:selected {   
    background: #e5e5e5;
    border-color: #adb3b8;
}

button.square {
    background: #e5e5e5;
    color: black;
}

button.square:active {
    background: #d6d6d6;
}

container {
    background: transparent;
}

textbox {
    background: white;
    border-color: #d1d1d1;
}

textbox:focus {
    border-color: #2a94db;
}

debugborder {
    border-color: blue;
    background: transparent;
}

watermark {
    color: #BDBDBD
}