/* Every element */
* {
    /* background: #F5F6F7; */
    background: #4D5A6D;
}

button {
    /* min-width: 60; */
    /* height: 40; */
    background: #6C7A90;
    color: white;
    border-radius: 2;
    padding: 6;
}

container {
    background: transparent;
    padding: 8;
}

blue {
    background: blue;
    padding: 8;
}

textblock {
    color: black;
}