/* Every element */
* {
    /* background: #F5F6F7; */
    background: #fafafa;
    color: #3b434a;
    icon-color: #3b434a;
}

.body {
    color: #3b434a;
}

button, toggle-button {
    /* min-width: 60; */
    /* height: 40; */
    background: #dadada;
}

button.primary {
    background: #efd035;
    color: #3b434a;
    icon-color: #3b434a;
}

button:active, button.primary:active, toggle-button:active, toggle-button:selected {
    background: #a8a8a8;
    color: #3b434a;
    icon-color: #3b434a;
}

checkbox {
    border-color: #4d4c4c;
}

checkbox:selected {
    background: #e5e5e5;
    border-color: #d1d1d1;
}

switch {
    border-color: #d1d1d1;
    background: #adb3b8;
}

switch-toggle {
    background: #4d4c4c;
}

switch-toggle:selected {
    background: #F8DE4C;
}


button.square {
    background: #e5e5e5;
    color: black;
}

button.square:active {
    background: #d6d6d6;
}

container {
    background: transparent;
}

text-box {
    background: white;
    border-color: #d1d1d1;
}

text-box:focus {
    border-color: #efd035;
}

debug-border {
    border-color: blue;
    background: transparent;
}

watermark {
    color: #BDBDBD
}