debugborder {
    border-width: 1;
    border-radius: 0;
    border-color: white;
    background: transparent;
}

row.full {
    width: 600;
}

column.navview {
	width: 400;
}

container.navbarview {
  padding: 0;
}

center.navtitleview {
	width: 400;
	height: 32;
}

textblock.navtitle {
  font-size: 18;
  width: 100;
	min-width: 150;
}

button.nav {
  width: 100;
}

container.mainviewbox {
	padding: 0;
}

center.mainviewbox {
	width:200;
	height:300;
}

