/* Every element */
* {
    background: #3c4c55;
    border-color: #7fc1ca;
    border-radius: 0;
    border-width: 1;
    color: #899ba6;
}

button {
    background: #4d5d66;
    border-radius: 2;
}

button :active {
    background: #8fd2db;
    color: white;
}

button :hover {
  background: #CFD6E6;
}

label {
    border-width: 0;
}

label.padded {
    border-width: 1;
    border-radius: 20;
}

label.padded :clicked {
    background: #FFC945;
}

menu {}

menu-button, action, separator {
    border-width: 0;
}

action.critical {
    background: #D93636;
    color: #000000;
}

menu-button :active, action :active {
    background: #8fd2db;
}

action.critical :active {
    background: #F18282;
}

progress {
    background: #9a93e1;
    border-color: #899ba6;
    border-radius: 2;
}

progress-bar {
    border-radius: 2;
}

selection {
    background: #5294E2;
    border-width: 0;
}

text-box {
    background: #3c4c55;
    border-radius: 2;
}

text-box :focus {
    border-color: #5294E2;
}
