Theme (
    resources: {
        "MEDIUM_FONT": "Roboto-Medium",
        "REGULAR_FONT": "Roboto-Regular",
        "ICON_FONT": "MaterialIcons-Regular",
        "FONT_SIZE_12": 12,
        "FONT_SIZE_16": 16,
        "FONT_SIZE_24": 24,
        "FONT_SIZE_32": 32,
        "FONT_SIZE_36": 36,
        "ICON_SIZE_12": 12,
        "ICON_SIZE_14": 14,
        "ICON_SIZE_16": 16,
        "ICON_SIZE_18": 18,
    },
)