Theme (
    resources: {
        "ACCENT_COLOR": "#0078D7",  
        "ACCENT_COLOR_DARK": "#2259A1",  
        "WHITE": "#ffffff",
        "BACKGROUND_DARK": "#3B3B3E",
        "BUTTON_BACKGROUND_DARK": "#656565",
        "BUTTON_BACKGROUND_HOVER_DARK": "#525253",
        "BUTTON_BACKGROUND_DISABLED_DARK": "#666668",
        "CONTENT_FOREGROUND_DISABLED_DARK": "#9B9B9D",
        "BUTTON_BACKGROUND_PRESSED_DARK": "#8B8B8B",
        "CONTENT_FOREGROUND": "#D5D5D5",
        "BORDER_DARK": "#D9D9D9",
        "TAB_HEADER_BAR_BACKGROUND_DARK": "#333333",
        "DECENT_COLOR_DARK": "#9A9A9A",
        "CONTENT_BACKGROUND": "#272728",
        "CONTENT_BACKGROUND_HOVER": "#19191A",
        "CONTENT_BACKGROUND_FOCUSED": "#000000",
        "CONTENT_BORDER": "#A5A5A5"
    },
) 