Theme (
    styles: {
        "window": (
            properties: {
                "background": "$BACKGROUND_DARK",
            },
        ),
        "button": (
            properties: {
                "border_radius": 3,
                "foreground": "$CONTENT_FOREGROUND",
                "icon_brush": "$CONTENT_FOREGROUND",
                "background": "$BUTTON_BACKGROUND_DARK",
                "height": 28,
                "font_size": "$FONT_SIZE_14",
                "container_margin": 0
            },
            states: {
                "pressed": {
                    "font_size": "$FONT_SIZE_13",
                    "background": "$BUTTON_BACKGROUND_PRESSED_DARK",
                    "container_margin": 1,
                },
                "selected": {
                    "background": "$ACCENT_COLOR",
                },
                "disabled": {
                    "background": "$BUTTON_BACKGROUND_DISABLED_DARK",
                    "foreground": "$CONTENT_FOREGROUND_DISABLED_DARK",
                    "icon_brush": "$CONTENT_FOREGROUND_DISABLED_DARK",
                },
                "hover": {
                    "background": "$BUTTON_BACKGROUND_HOVER_DARK"
                }
            }
        ),
        "button_single_content": (
            base: "button",
            properties: {
                "spacing": 0,
            }
        ),
        "button_primary": (
            base: "button",
            properties: {
                "background": "$ACCENT_COLOR",
            },
            states: {
                "hover": {
                    "background": "$ACCENT_COLOR_DARK"
                }
            }
        ),
        "check_box": (
            properties: {
                "border_radius": 3,
                "border_width": 1,
                "border_brush": "$BORDER_DARK",
                "foreground": "$CONTENT_FOREGROUND",
                "icon_brush": "transparent",
                "background": "transparent",
                "height": 20,
                "font_size": "$FONT_SIZE_14",
            },
            states: {
                "selected": {
                    "icon_brush": "$CONTENT_FOREGROUND",
                    "background": "$ACCENT_COLOR",
                    "border_width": 0,
                },
                "disabled": {
                    "background": "$BUTTON_BACKGROUND_DISABLED_DARK",
                    "foreground": "$CONTENT_FOREGROUND_DISABLED_DARK",
                    "icon_brush": "$CONTENT_FOREGROUND_DISABLED_DARK",
                }
            },
        ),
        "switch": (
            properties: {
                "width": 46,
                "height": 20,
            },
        ),
        "switch_track": (
            properties: {
                "height": 20,
                "border_radius": 10,
                "background": "transparent",
                "border_width": 2,
                "border_brush": "$DECENT_COLOR_DARK"
            },
            states: {
                "selected": {
                    "background": "$ACCENT_COLOR",
                    "border_brush": "$ACCENT_COLOR"
                },
            },
        ),
        "switch_toggle": (
            properties: {
                "width": 10,
                "height": 10,
                "border_radius": 5,
                "background": "$DECENT_COLOR_DARK",
                "margin": 6
            },
            states: {
                "selected": {
                    "background": "$WHITE",
                },
            },
        ),
        "slider": (
            properties: {
                "height": 24,
                "border_radius": 2,
                "background": "$DECENT_COLOR_DARK",
            }
        ),
        "thumb": (
            properties: {
                "width": 24,
                "height": 24,
                "border_radius": 12,
                "background": "$ACCENT_COLOR",
            },
            states: {
                "pressed": {
                    "background": "$DECENT_COLOR_DARK",
                },
            },
        ),
        "progress_bar": (
             properties: {
                "background": "$DECENT_COLOR_DARK",
                "border_radius": 2,
                "border_width": 0,
                "border_width": 1,
                "height": 4,
                "padding": 0
             },
        ),
        "progress_bar_indicator": (
            properties: {
                "background": "$ACCENT_COLOR",
                "height": 4,
                "width": 0,
            }
        ),
        "tab_header_bar": (
            properties: {
                "height": 42,
                "background": "$ACCENT_COLOR",
                "height": 2
            },
        ),
        "tab_header": (
            properties: {
                "background": "transparent",
                "font_size": "$FONT_SIZE_15",
                "icon_brush": "transparent",
                "foreground": "$DECENT_COLOR_DARK",
                "icon_brush": "$DECENT_COLOR_DARK"
            },
            states: {
                "selected": {
                    "foreground": "$WHITE",
                },
            }
        ),
        "tab_icon_only": (
            properties: {
                "icon_size": "$ICON_SIZE_13",
                "icon_brush": "$DECENT_COLOR_DARK",
                "background": "transparent",
                "spacing": 0,
                "width": 14,
                "height": 14
            },
            states: {
                "pressed": {
                    "icon_brush": "$WHITE",
                },
            }
        ),
        "text_box": (
            properties: {
                "height": 34,
                "border_width": 2,
                "border_brush": "$CONTENT_BORDER",
                "background": "$CONTENT_BACKGROUND",
            },
            states: {
                "focused": {
                    "background": "$CONTENT_BACKGROUND_FOCUSED",
                    "border_brush": "$ACCENT_COLOR_DARK",
                },
                "hover": {
                    "background": "$CONTENT_BACKGROUND_HOVER"
                }
            }
        )
    },
)
