Theme (
    styles: {
        "window": (
            properties: {
                "background": "$BACKGROUND_DARK",
            },
        ),
        "button": (
            properties: {
                "border_radius": 3,
                "foreground": "$CONTENT_FOREGROUND",
                "icon_brush": "$CONTENT_FOREGROUND",
                "background": "$BUTTON_BACKGROUND_DARK",
                "height": 28,
                "font_size": "$FONT_SIZE_14",
            },
            states: {
                "pressed": {
                    "font_size": "$FONT_SIZE_13",
                    "background": "$BUTTON_BACKGROUND_PRESSED_DARK",
                },
                "selected": {
                    "background": "$ACCENT_COLOR_DARK",
                },
                "disabled": {
                    "background": "$BUTTON_BACKGROUND_DISABLED_DARK",
                    "foreground": "$CONTENT_FOREGROUND_DISABLED_DARK",
                    "icon_brush": "$CONTENT_FOREGROUND_DISABLED_DARK",
                }
            }
        ),
        "button_single_content": (
            base: "button",
            properties: {
                "spacing": 0,
            },
        ),
        "button_primary": (
            base: "button",
            properties: {
                "background": "$ACCENT_COLOR_DARK",
            },
        ),
        "check_box": (
            properties: {
                "border_radius": 3,
                "border_width": 1,
                "border_brush": "$BORDER_DARK",
                "foreground": "$CONTENT_FOREGROUND",
                "icon_brush": "transparent",
                "background": "transparent",
                "height": 20,
                "font_size": "$FONT_SIZE_14",
            },
            states: {
                "selected": {
                    "icon_brush": "$CONTENT_FOREGROUND",
                    "background": "$ACCENT_COLOR_DARK",
                    "border_width": 0,
                },
                "disabled": {
                    "background": "$BUTTON_BACKGROUND_DISABLED_DARK",
                    "foreground": "$CONTENT_FOREGROUND_DISABLED_DARK",
                    "icon_brush": "$CONTENT_FOREGROUND_DISABLED_DARK",
                }
            },
        ),
         "tab_header_bar": (
            properties: {
                "height": 42,
                "background": "$ACCENT_COLOR_DARK",
                "height": 2
            },
        ),
        "tab_header": (
            properties: {
                "background": "transparent",
                "font_size": "$FONT_SIZE_15",
                "icon_brush": "transparent",
                "foreground": "$DECENT_COLOR_DARK",
                "icon_brush": "$DECENT_COLOR_DARK"
            },
            states: {
                "selected": {
                    "foreground": "$WHITE",
                },
            }
        ),
        "tab_icon_only": (
            properties: {
                "icon_size": "$ICON_SIZE_13",
                "icon_brush": "$DECENT_COLOR_DARK",
                "background": "transparent",
                "spacing": 0,
                "width": 14,
                "height": 14
            },
            states: {
                "pressed": {
                    "icon_brush": "$WHITE",
                },
            }
        ),
    },
)
