Theme (
    resources: {
        "BLACK": "#000000",
        "WHITE": "#ffffff",
        "BRIGHT_GRAY": "#3b434a",
        "LYNCH": "#647b91",
        "PERIWINKLE_GRAY": "#ccdeed",        
        "SUNFLOWER": "#e1bc21",
        "ENERGY_YELLOW": "#f8de4c",
        "LINK_WATER": "#dfebf5",
        "GOLDEN_DREAM": "#efd035",     
        "BLUE_BAYOUX": "#516475",   
        "BOMBAY": "#afb1b8",
        "SLATE_GRAY": "#6c7a90",
        "MINE_SHAFT": "#212121",
        "SILVER_CHALICE": "#9e9e9e",
        "RIVER_BAD": "#444e55",
        "SILVER": "#bababa",
        "GOLD_TIPS": "#ebbf13",
        "ALABASTER": "#fafafa",
        "ALTO": "#dadada",
        "CADET_BLUE": "#9dafbf",
        "Fiord": "#475b6e",
    },
)