/* Every element */
* {
    /* background: #F5F6F7; */
    background: #3b434a;
    font-size: 16;
    font-family: "Roboto";
    icon-size: 16;
    icon-family: "Material Icons";
}

window {
    background: #3b434a;
}

.body {
    color: #dfebf5;
    font-size: 16;
    font-family: "Roboto ";
}

check-box {
    background: transparent;
    border-radius: 2;
    border-width: 1;
    border-color: #adb3b8;
    icon-color: transparent;
}

check-box:selected {
    background: #6C7A90;
    border-color: #adb3b8;
    icon-color: white;
}

grid {
    background: transparent;
}

switch {
    border-radius: 2;
    border-width: 1;
    border-color: #adb3b8;
    background: #6C7A90;
}

switch-toggle {
    border-radius: 8;
    background: white;
}

switch-toggle:selected {
    background: #F8DE4C;
}

button, toggle-button {
    background: #647b91;
    border-radius: 2;
}

button.primary {
    background: #efd035;
    color: #3b434a;
    icon-color: #3b434a;
}

button:active, button.primary:active, button.square:active, toggle-button:active, toggle-button:selected {
    background: #516475;
    color: #dfebf5;
    icon-color: #dfebf5;
}

button:disabled, toggle-button:disabled {
    background: #36516b;
}

button.square {
    border-radius: 1;
    min-width: 0;
}

container {
    padding: 8;
}

text-block.h1 {
    font-size: 24;
}

text-box {
    color: #dfebf5;
    width: 100;
    height: 32;
    background: #3b434a;
    border-color: #647b91;
    border-width: 1;
    border-radius: 2;
    padding: 6;
}

menu {
    background: #475b6e;
}

menuitem {
    padding-left: 8;
    padding-right: 8;
    height: 32;
    color: #9dafbf;
    font-size: 12;
}

text-box:water-mark {
    color: #9E9E9E
}

text-box:focus {
    border-color: #f8de4c;
}

cursor {
    background: transparent;
}

cursor:focus {
    background: #f8de4c;
}

cursor:expanded {
    opacity: 0.3;
}

debug-border {
    border-width: 1;
    border-color: blue;
    background: transparent;
}

#test {
    background: green;
}