* {
    /* background: #F5F6F7; */
    background: #3b434a;
    font-size: 16;
    font-family: "Roboto Medium";
    icon-size: 16;
    icon-family: "Material Icons";
}

window {
    background: #3b434a;
}

.body {
    color: #dfebf5;
    font-size: 16;
    font-family: "Roboto Medium";
}

check-box {
    icon-size: 18;
    background: transparent;
    border-radius: 2;
    border-width: 1;
    border-color: #adb3b8;
    icon-color: transparent;
}

check-box:selected {
    background: #efd035;
    border-color: #efd035;
    icon-color: #3b434a;
}

grid {
    background: transparent;
}

switch {
    width: 36;
    height: 32;
}

switch_track {
    height: 14;
    border-radius: 7;
    background: #6C7A90;
}

switch_toggle {
    width: 20;
    height: 20;
    border-radius: 10;
    background: white;
}

switch_toggle:selected {
    background: #F8DE4C;
}

button, toggle-button {
    height: 36;
    background: #647b91;
    border-radius: 4;
    font-family: "Roboto Medium";
}

.single_content {
    spacing: 0;
}

button.primary {
    background: #efd035;
    color: #3b434a;
    icon-color: #3b434a;
}

button:active, button.primary:active, button.square:active, toggle-button:active, toggle-button:selected {
    background: #516475;
    color: #dfebf5;
    icon-color: #dfebf5;
}

button:disabled, toggle-button:disabled {
    background: #7a7e81;
    color: #3b434a;
    icon-color: #3b434a;
}

button.square {
    border-radius: 1;
}

container {
    padding: 4;
}

combo_box {
    color: #dfebf5;
    background: #3b434a;
    border-color: #647b91;
    border-width: 1;
    border-radius: 3;
    padding: 6;
}

combo_box:selected {
    border-color: #f8de4c;
}

combo_box_item {
    font-size: 12;
    color: #ccdeed;
    background: transparent;
    padding-left: 8;
    padding-right: 8;
}

combo_box_item:selected, combo_box_item:active {
    color: #3b434a;
    background: #e1bc21;
}

.h1 {
    font-size: 24;
}

text_box {
    height: 32;
    color: #ccdeed;
    background: #3b434a;
    border-color: #647b91;
    border-width: 1;
    border-radius: 3;
    padding: 6;
}

popup {
    background: #444e55;
    border-color: #647b91;
    border-width: 1;
    border-radius: 2;
}

menu {
    background: #475b6e;
}

menuitem {
    padding-left: 8;
    padding-right: 8;
    color: #9dafbf;
    font-size: 12;
}

text_box:empty {
    color: #9E9E9E
}

text_box:focus {
    border-color: #f8de4c;
}

cursor {
    opacity: 1.0;
    background: transparent;
}

cursor:focus {
    background: #f8de4c;
}

cursor:expanded {
    opacity: 0.3;
}

debug-border {
    border-width: 1;
    border-color: blue;
    background: transparent;
}

items-widget {
    background: transparent;
    border-color: #647b91;
    border-width: 1;
    border-radius: 2;
    padding: 4;
}

list-view {
    background: transparent;
    border-color: #212121;
    border-width: 1;
    border-radius: 2;
}

list-view-item {
    font-size: 12;
    color: #ccdeed;
    background: transparent;
    padding-left: 8;
    padding-right: 8;
}

list-view-item:selected, list-view-item:active {
    color: #3b434a;
    background: #e1bc21;
}

scroll-bar {
    background: #647b91;
    border-radius: 2;
}

blub {
    background: green;
}

slider {
    height: 24;
    border-radius: 2;
    background: #212121;
}

thumb {
    max-width: 24;
    max-height: 24;
    border-radius: 12;
    background: #647b91;
}

thumb:active {
    background: #e1bc21;
}

progress_bar {
    background: #212121;
    border-color: #BABABA;
    border-radius: 4;
    border-width: 1;
    height: 32;
    padding-left: 2;
    padding-right: 2;
    padding-top: 4;
    padding-bottom: 4;
}