/* Every element */
* {
    /* background: #F5F6F7; */
    background: #3b434a;
    font-size: 16;
    font-family: "Roboto-Regular";
    icon-size: 16;
    icon-family: "MaterialIcons-Regular";
}

window {
    background: #3b434a;
}

.body {
    color: #dfebf5;
    font-size: 16;
    font-family: "Roboto-Regular";
}

check-box {
    background: transparent;
    border-radius: 2;
    border-width: 1;
    border-color: #adb3b8;
    icon-color: transparent;
}

check-box:selected {
    background: #6C7A90;
    border-color: #adb3b8;
    icon-color: white;
}

grid {
    background: transparent;
}

switch {
    border-radius: 2;
    border-width: 1;
    border-color: #adb3b8;
    background: #6C7A90;
}

switch-toggle {
    border-radius: 8;
    background: white;
}

switch-toggle:selected {
    background: #F8DE4C;
}

button, toggle-button {
    background: #647b91;
    border-radius: 2;
    font-family: "Roboto-Medium";
}

button.primary {
    background: #efd035;
    color: #3b434a;
    icon-color: #3b434a;
}

button:active, button.primary:active, button.square:active, toggle-button:active, toggle-button:selected {
    background: #516475;
    color: #dfebf5;
    icon-color: #dfebf5;
}

button:disabled, toggle-button:disabled {
    background: #7a7e81;
    color: #3b434a;
    icon-color: #3b434a;
}

button.square {
    border-radius: 1;
}

container {
    padding: 4;
}

.h1 {
    font-size: 24;
}

text_box {
    color: #dfebf5;
    background: #3b434a;
    border-color: #647b91;
    border-width: 1;
    border-radius: 2;
    padding: 6;
}

menu {
    background: #475b6e;
}

menuitem {
    padding-left: 8;
    padding-right: 8;
    color: #9dafbf;
    font-size: 12;
}

text_box:empty {
    color: #9E9E9E
}

text_box:focus {
    border-color: #f8de4c;
}

cursor {
    background: #f8de4c;
}

cursor:expanded {
    opacity: 0.3;
}

debug-border {
    border-width: 1;
    border-color: blue;
    background: transparent;
}


items-widget {
    background: transparent;
    border-color: #647b91;
    border-width: 1;
    border-radius: 2;
    padding: 4;
}

list-view {
    background: transparent;
    border-color: #212121;
    border-width: 1;
    border-radius: 2;
}

list-view-item {
    font-size: 12;
    color: #ccdeed;
    background: transparent;
    padding-left: 8;
    padding-right: 8;
}

list-view-item:selected, list-view-item:active {
    color: #3b434a;
    background: #e1bc21;
}

scroll-bar {
    background: #647b91;
    border-radius: 2;
}

blub {
    background: green;
}
