/* Every element */
* {
    background: #F5F6F7;
    border-thickness: 1;
    border-color: #CFD6E6;
    color: black;
}

text-box {
    background: white;
}

/* The filled bit of the progress bar */
progress {
    background: #5294E2;
    border-color: gray;
}

menu-button, action, separator {
    background: #FBFBFC;
    border-thickness: 0;
}

menu-button :active, action :active {
    background: #5294E2;
}

selection {
    background: #5294E2;
    border-thickness: 0;
}

button {
    background: white;
}

button :active {
    background: #5294E2;
    color: white;
}
