/* Every element */
* {
    background: #F5F6F7;
    border-color: #CFD6E6;
    border-radius: 0;
    border-width: 1;
    color: black;
}

list {
    border-width: 0;
}

entry {
    background: white;
    border-width: 0;
}

button {
    background: white;
    border-radius: 2;
}

button :active {
    background: #5294E2;
    color: white;
}

button :hover {
  background: #CFD6E6;
}

label {
    border-width: 0;
}

menu {}

menu-button, action, separator {
    border-width: 0;
}

menu-button :active, action :active {
    background: #5294E2;
}

progress {
    background: #5294E2;
    border-color: gray;
    border-radius: 2;
}

progress-bar {
    border-radius: 2;
}

selection {
    background: #5294E2;
    border-width: 0;
}

text-box, combo-box, combo-box-toggle {
    background: white;
    border-radius: 2;
}

text-box :focus {
    border-color: #5294E2;
}

combo-box :focus {
    border-color: #5294E2;
}

combo-box-toggle :active {
    background: #5294E2;
}

combo-box-entry {
    border-radius: 0;
}

combo-box-entry :hover {
    background: #CFD6E6;
}

combo-box-entry :active {
    background: #5294E2;
    color: white;
}
