Theme (
    styles: {
        "input": (
            base: "body",
            properties: {
                "font_family": "$REGULAR_FONT",
                "foreground": "$CADET_BLUE"
            }
        ),
        "result": (
            base: "body",
            properties: {
                "font_size": "$FONT_SIZE_36",
                "foreground": "$LINK_WATER"
            }
        ),
        "header_area": (
            properties: {
                "background": "$RIVER_BAD"
            }
        ),
        "content_area": (
            properties: {
                "background": "$BRIGHT_GRAY"
            }
        ),
         "button_calculator": ( 
            base: "button",
            properties: {
                "min_width": 48,
                "height": 48,
                "border_radius": 1,
                "spacing": 0,
            },
        ),
        "button_calculator_primary": (
            base: "button_primary",
            properties: {
                "min_width": 48,
                "height": 48,
                "border_radius": 1,
                "spacing": 0,
            },
        ),
    }
)